<table class="table table-striped" style="margin-top:5px">
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Location</th>
					<th>City</th>
					<th>Complete Address</th>
					<th>Action</th>
				</tr>
				<tr ng-repeat="clinic in clinics  | filter: searchKeyword ">
					<td>{{clinic.id}}</td>
					<td>{{clinic.name}}</td>
					<td>{{clinic.location}}</td>
					<td>{{clinic.city}}</td>
					<td>{{clinic.completeAddress}}</td>
					<td>
						<input type="button" value="Remove" class="btn btn-primary" ng-click="removeRow(company.name)"/>
					</td>
				</tr>
			</table>