<button type="button" class="btn btn-primary" ng-click="addClinic()" style = "margin:5px"><span style="margin-right:5px"><i class="fa fa-plus"></i></span>Add Clinic</button>

<table class="table table-striped" style="margin-top:5px">
	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>Location</th>
		<th>City</th>
		<th>Complete Address</th>
		<th>Action</th>
	</tr>
	<tr ng-repeat="clinic in clinics  | filter: searchKeyword ">
		<td>{{clinic.id}}</td>
		<td>{{clinic.name}}</td>
		<td>{{clinic.location}}</td>
		<td>{{clinic.city}}</td>
		<td>{{clinic.address}}</td>
		<td><span style="margin-left:5px;cursor:pointer color:blue" ng-click="editClinic(clinic)"><i class="fa fa-edit"></i></span><span style="margin-left:5px;cursor:pointer;color:red" ng-click="removeClinic(clinic,$index)"><i class="fa fa-remove"></i></span></td>
	</tr>
</table>