<div class="row" style="margin-top:5px">
		        <form role="form">
		            <div class="col-lg-6">
		                <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Required Field</strong></div>
		                <div class="form-group">
		                    <label for="name">Enter Name</label>
		                    <div class="input-group">
		                        <input type="text" class="form-control" name="name" id="name" placeholder="Enter Name" ng-model="name" required>
		                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
		                    </div>
		                </div>
		                <div class="form-group">
		                    <label for="location">Enter Qualification</label>
		                    <div class="input-group">
		                        <input type="text" class="form-control" id="qualification" name="qualification" placeholder="Enter Qualification" ng-model = "qual" required>
		                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
		                    </div>
		                </div>
		                <div class="form-group">
		                    <label for="city">Enter Experience</label>
		                    <div class="input-group">
		                        <input type="number" class="form-control" id="experience" name="experience" placeholder="Enter Experience in Years" ng-model = "exp" required>
		                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
		                    </div>
		                </div>
		                <div class="form-group">
		                    <label for="address">Select Specialization</label>
		                    <select id="mySel" class="form-control" ng-model="specSelected">
					        	<option ng-repeat="spec in specializations" value = "{{spec.id}}" ng-selected="spec.selected">{{spec.name}}</option>
					        </select>
		                </div>
		                <div class="form-group">
		                    <label for="address">Select Clinic</label>
		                    <select id="mySel" class="form-control" ng-model="clinicSelected">
					        	<option ng-repeat="clinic in clinics" value = "{{clinic.id}}" ng-selected="clinic.selected">{{clinic.name}}</option>
					        </select>
		                </div>
		                <div class="form-group">
		                    <label for="address">Enter MobileNumber</label>
		                    <div class="input-group">
		                        <input type="number" class="form-control" id="mobileNumber" name="mobileNumber" placeholder="Enter the Mobile Number" ng-model = "mobileNumber" required>
		                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
		                    </div>
		                </div>
		                <div class="form-group">
		                    <label for="location">Enter Email</label>
		                    <div class="input-group">
		                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" ng-model = "email" required>
		                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
		                    </div>
		                </div>
		                <input type="submit" name="submit" id="submit" value="Submit" ng-click = "addDoctor()" class="btn btn-info pull-right">
		            </div>
		        </form>
		        
		    </div>