
<button type="button" class="btn btn-primary" ng-click="addSpecialization()" style = "margin:5px"><span style="margin-right:5px"><i class="fa fa-plus"></i></span>Add Specialization</button>
<table class="table table-striped" style="margin-top:5px">
	<tr>
		<th>Id</th>
		<th>Specialization Name</th>
		<th>Actions</th>
	</tr>
	<tr ng-repeat="spec in specializations">
		<td>{{spec.id}}</td>
		<td>{{spec.name}}</td>
		<td><span style="margin-left:5px;cursor:pointer;" ng-click="editSpecialization(spec)"><i class="fa fa-edit"></i></span><span style="margin-left:5px;cursor:pointer;color:red" ng-click="removeSpecialization(spec,$index)"><i class="fa fa-remove"></i></span></td>
	</tr>
</table>